# Virtual environment
.venv/
.venv-nix/

# Build artifacts
target/
*.so
*.pyd
*.whl

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
dist/
build/
*/dist/
*/node_modules/
benchmarks/out
.nix-pip
# IDE
.idea/
.vscode/
*.swp
